# 大模型的base_url & key
OPENAI_API_KEY=
OPENAI_BASE_URL=

# 网页总结模型
LLM_MODEL_ID=

# 蒸馏模型
AGENT_MODEL_ID=

# Reward答案打分模型
JUDGE_MODEL_ID=

# FireCrawl api-key
FIRECRAWL_API_KEY=

# 高德的api-key
AMAP_MAPS_API_KEY=

# Tavily的api-key
TAVILY_API_KEY=

# Google搜索的api-key
SERPAPI_API_KEY=

# export PYTHONPATH=$PYTHONPATH:$PWD
